{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
  :root {
    --primary: #0066cc;
    --secondary: #005cb8;
    --accent: #f5f5f5;
    --primary-fg: #fff;
    
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    
    --header-color: #fff;
    --header-branding-color: var(--accent);
    --header-bg: var(--primary);
    --header-link-color: var(--primary-fg);
    
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    
    --link-fg: #0066cc;
    --link-hover-color: #0066cc;
    --link-selected-fg: #5b80b2;
    
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: var(--secondary);
    
    --default-button-fg: #fff;
    --default-button-bg: var(--primary);
    --default-button-hover-bg: var(--secondary);
  }
</style>
{% endblock %}
